/* Obsidian Accounting Plugin Styles */

.accounting-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accounting-modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.accounting-modal-field label {
    font-weight: bold;
    margin-bottom: 5px;
}
